<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  


    <ion-card>

      <ion-item>
        <ion-avatar slot="end">
          <!-- <a href="#" class="buttonDownload">Download</a> -->
          <img src="../../assets/images/download.png" (click)="presentAlertConfirm()">
        </ion-avatar>
        <ion-label>Lorem ipsum</ion-label>
      </ion-item>
    </ion-card>
   
     
     
    
     

  </ion-content>

  <ion-footer >
    <ion-toolbar>
      <ion-buttons>
        <button ion-button  (click)="presentAlertConfirm1()"> Vedios</button>
        <button ion-button  (click)="  gotoDownloadPage()"> Downdoad</button>
       
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
